{% extends 'diretorioBundle:Default:template.html.twig' %}

{% block body %}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dolores fugiat magnam minus molestias
        quisquam rerum temporibus! Aliquid amet, asperiores consequuntur corporis id inventore, ipsum iure minima vel
        velit veritatis?</p>
{% endblock %}